.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust the min width as needed */
    gap: 20px; /* Space between grid items */
    padding: 20px; /* Padding around the grid */
}

.product-card {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: space-between; /* Distribute space between items */
    align-items: center;
    height: 300px; /* Set a height for the card */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
}

.product-image {
    max-width: 100%; /* Ensure the image is responsive */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Space below the image */
}

.product-title {
    font-size: 1.2em; /* Title size */
    margin: 10px 0; /* Space above and below title */
}

.product-price {
    font-size: 1.1em; /* Price size */
    color: #007bff; /* Color for price */
    margin: 5px 0; /* Space above and below price */
}

.product-detail {
    padding-top: 50px;
}

